<div class="navbar">
    <div class="header">
        <h1>covid-19 </h1>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="g-1">
            <canvas #myChart></canvas>
        </div>
        <div class="g-2">
            <canvas #myLineChart></canvas>
        </div>
    </div>
    <div class="row">
        <div class="g-3">
            <canvas #mypiechart></canvas>
        </div>
        <div class="g-4">
            <canvas #mydonugthchart></canvas>
        </div>
    </div>



</div>